pkgbase = phasezero-control-center
	pkgdesc = PhaseZero native Linux control center
	pkgver = 1.20.4
	pkgrel = 1
	url = https://github.com/Misael-art/PhaseZero
	arch = any
	license = MIT
	depends = python
	depends = pyside6
	depends = bash
	depends = jq
	depends = polkit
	optdepends = flatpak: Flatpak management
	optdepends = bigsudo: graphical admin bridge
	optdepends = libguestfs: offline Windows VM repair and host disk access
	source = PhaseZero-1.20.4.tar.gz
	sha256sums = SKIP

pkgname = phasezero-control-center
