pkgbase = phasezero-control-center
	pkgdesc = PhaseZero native Linux control center
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/Misael-art/PhaseZero
	arch = any
	license = MIT
	depends = python
	depends = pyside6
	depends = bash
	depends = jq
	depends = polkit
	optdepends = flatpak: Flatpak management
	optdepends = bigsudo: graphical admin bridge
	source = PhaseZero-1.3.0.tar.gz::https://github.com/Misael-art/PhaseZero/archive/refs/tags/v1.3.0.tar.gz
	sha256sums = 00007f4788d0ab3398f2fdbec74744de832df6db90c6a760f6f924408ebd39fb

pkgname = phasezero-control-center
